* {
  font-family: "Figtree Medium";
}

.App {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

button {
  border: none;
  background: #f15025;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  border: 2px solid #f15025;
  border-radius: 4px;
  padding: 5px 15px;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: #f3f3f3 solid 2px;
  outline-offset: 0;
  box-shadow: 0 0 0 4px #1d1d1d;
  border-radius: 1px;
}
