.card {
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.card__image {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.card__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: uppercase;
}

.card__subtitle {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  font-style: italic;
}
