.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid #e6e8e650;
}

.header__logo-wrapper {
  padding: 0 20px;
}

.header__logo {
  height: 60px;
}

.header__user-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.header__user-name {
  font-size: 24px;
  font-weight: 500;
  color: #f15025;
}

.header__user-avatar_wrapper {
  border: 2px solid #f15025;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.header__user-avatar {
  height: 50px;
  width: 50px;
}

.header__link-wrapper {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.header__link {
  font-size: 24px;
  font-weight: 500;
  color: #f15025;
  padding-right: 20px;
  border-right: 2px solid #f15025;
}

.header__link:last-child {
  border-right: none;
}
